## SQLite

In [1]:
import sqlite3

In [2]:
# establish a connection
# first we establish a connection
connection = sqlite3.connect('test.db')

# then we need a cursor
cursor = connection.cursor()

### CREATE

In [3]:
# for CREATE/INSERT/UPDATE/DELETE
# only execute is enough
cursor.execute("""
    CREATE TABLE animal(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT not null,
        race TEXT not null,
        quote TEXT
    );
""")

## SELECT

* First we need to do an execute.
* Then one of the fetch functions

In [7]:
# for SELECT
# first execute
cursor.execute("SELECT * FROM sqlite_master")

In [8]:
# then fetch
cursor.fetchall()

[('table',
  'animal',
  'animal',
  2,
  'CREATE TABLE animal(\n        id INTEGER PRIMARY KEY AUTOINCREMENT,\n        name TEXT not null,\n        race TEXT not null,\n        quote TEXT\n    )'),
 ('table',
  'sqlite_sequence',
  'sqlite_sequence',
  3,
  'CREATE TABLE sqlite_sequence(name,seq)')]

In [10]:
# fetchone to take only one value
cursor.execute("SELECT * FROM sqlite_master")
cursor.fetchone()

('table',
 'animal',
 'animal',
 2,
 'CREATE TABLE animal(\n        id INTEGER PRIMARY KEY AUTOINCREMENT,\n        name TEXT not null,\n        race TEXT not null,\n        quote TEXT\n    )')

In [11]:
cursor.execute("SELECT * FROM sqlite_master")

In [13]:
cursor.description

(('type', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('tbl_name', None, None, None, None, None, None),
 ('rootpage', None, None, None, None, None, None),
 ('sql', None, None, None, None, None, None))

### INSERT

* To insert we'll use sql parameters.
* This is to avoid weird behaviours where insert values are actually SQL commands.
* Also, in a web scenario, parameters avoid SQL injection.

In [16]:
cursor.executemany("INSERT INTO animal(name, race, quote) VALUES(?, ?, ?)", [
    ('panda', 'mammal', 'pandas like lavandas'),
    ('iguana', 'lizard', 'iguana likes your momma')
])

In [17]:
cursor.execute("SELECT * FROM animal")
cursor.fetchall()

[(1, 'panda', 'mammal', 'pandas like lavandas'),
 (2, 'iguana', 'lizard', 'iguana likes your momma')]